/Bishop.class
/Knight.class
/Pawn.class
/Piece.class
/Queen.class
/Rook.class
/King.class
/Piece$PieceType.class
/Piece$PieceType$1.class
/Piece$PieceType$2.class
/Piece$PieceType$3.class
/Piece$PieceType$4.class
/Piece$PieceType$5.class
/Piece$PieceType$6.class
