/Board.class
/BoardUtils.class
/Move$AttackMove.class
/Move$MajorMove.class
/Move.class
/Tile$EmptyTile.class
/Tile$OccupiedTile.class
/Tile.class
/Board$Builder.class
/Move$PawnMove.class
/Move$PawnAttackMove.class
/Move$PawnEnPassantAttackMove.class
/Move$PawnJump.class
/Move$CastleMove.class
/Move$KingSideCastleMove.class
/Move$QueenSideCastleMove.class
/Move$NullMove.class
/Move$MoveFactory.class
